
* {
	box-sizing: border-box; 
	margin: 0;
	padding: 0; 
	text-decoration: none;
}

@font-face {
	font-family: Poppins;
	src: url(./fonts/Poppins.ttf) format("truetype");
}

a, a:hover, a:focus, a:active a:visited{
	color: #fff;
}

a:hover {
	text-decoration: underline #247FFF; 
	cursor:pointer;  
}

.body {
	background: #161819;
}

.header {
	height: 152px;
	display: flex;
}

.nav {
	margin: auto auto auto 145px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 87px;
	height: 64px;
}

.link {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.1em;
	color: #fff;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 226px;
	margin: auto;
}

.form-container {
	background: #252728;
	border-radius: 10px;
	gap: 24px;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	display: flex;
}

.select {
	margin-left: 20px;
	width: 108px;
	height: 50px;
	background: linear-gradient(99.59deg, #F473A3 3.39%, #FE5661 97.89%);
	border-radius: 10px;
	border: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	appearance:none;
	position: relative;
	text-align: center;
	padding-right: 35px;
}

.custom-select {
	display: inline-block; 
	position: relative; 
}

.custom-select::after {
	content: url(./img/selectarrow.svg);
	position: absolute;
	top: 15px; 
	right: 40px; 
}

.search {
	width: 682px;
	height: 64px;	
	background: url(./img/loupe.svg) no-repeat center right 24px #252728;
	border-radius: 10px;
	border: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: 0.05em;
	color: rgba(255, 255, 255, 0.25);
	padding: 10px;
}

/*main*/

.main {
	margin: auto;
	height: 874px;
}

.hero-header, .hero-subheader, .switch{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 48px;
	letter-spacing: 0.2ex;
}

.hero-header {
	height: 72px;
	margin-bottom: 20px;
}

.hero-subheader{
	font-size: 20px;
	font-weight: 500;
	height: 30px;
	margin-bottom: 40px;
}

/*ниже поля поиска*/

.card-section {
	height: 574px;
	margin: 74px 142px 0px 145px;
}

.switcher {
	width: 300px;
	height: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.switch {
	font-size: 24px;
	font-weight: 400;
	position: relative;
}

.switch:hover::after {
	position: absolute;
	top: -12px;
	content: url(./img/redpoint.svg);
}


.divider {
	width: 4px;
	height: 20px;
	background: #fff;
	opacity: 0.25;
}

.card-wrapper {
	display: flex;
}

.card {
	width: 424px;
	height: 498px;
	background: #1F2123;
	border-radius: 24px;
	margin: 52px;
}

.image-wrapper {
	width: 376px;
	height: 280px;
	background: #393A3E;
	border-radius: 24px;
	margin: 24px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-header {
	width: 300px;
	height: 48px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #fff;
	display:flex;
	justify-content: center;
	align-items: center;
}

.card-text {
	width: 224px;
	height: 42px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.6;
	text-align: center;
	padding: 6px;

}

.card-link {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.05em;
	text-decoration-line: underline;
	color: #fff;
	opacity: 0.5;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 15px;
	position: relative;
}

.card-link::after {
	position: absolute;
	right: -16px;
	bottom: 10px;
	content: url(./img/downloadarrow.svg);
}

.footer {
	margin: 75px auto 75px auto;
	width: 1378px;
	height: 73px;
}

.nav-footer {
	height: 76px;
	width: calc(50% + 152px);
	margin-left: calc(50% - 152px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nextpagebutton {
	width: 240px;
	height: 75px;
	background: url("./img/arrow.svg") no-repeat center right 24px #252728;
	border-radius: 10px;
	border: none;
	font-family: 'Poppins';
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.1em;
	color: #fff;
	text-align: left;
	padding-left:20px;
}

.pageturner {
	width: 238px;
	height: 34px;
}

.page {
	border: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #fff;
	opacity: 0.25;
}

.bracket {
	border: none;
	width: 34px;
	height: 34px;
	background: #1F2123;
	border-radius: 6px;
	color: #fff;
	opacity: 0.5;
}

.number {
	border: none;
	width: 34px;
	height: 34px;
	background: #393A3E;
	border-radius: 6px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #fff;
	opacity: 0.8;
}